<?xml version="1.0" encoding="utf-8"?>
<!--
AndroidManifest.xml
Controls permissions for java classes to create intents
Created By: Shaun Trimm
Created On: 2-25-2020
Last Modified By: Shaun Trimm
Last Modified On: 2-28-2020
Assignment: A290 Final Project Phase 3
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.indiana.strimm.tictactoe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tic Tac Toe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- android:label="@string/app_name" -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.indiana.strimm.tictactoe.GameScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
    </application>

</manifest>